<?xml version="1.0"?>
<config>
    <modules>
        <Misc_ProductCustomers>
            <version>0.1.0</version>
        </Misc_ProductCustomers>
    </modules>
    <global>
        <blocks>
            <misc_productcustomers>
                <class>Misc_ProductCustomers_Block</class>
            </misc_productcustomers>
        </blocks>
        <helpers>
            <misc_productcustomers>
                <class>Misc_ProductCustomers_Helper</class>
            </misc_productcustomers>
        </helpers>
        <models>
            <misc_productcustomers>
                <class>Misc_ProductCustomers_Model</class>
            </misc_productcustomers>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <misc_productcustomers before="Mage_Adminhtml">Misc_ProductCustomers_Adminhtml</misc_productcustomers>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <misc_productcustomers>
                    <file>misc_productcustomers.xml</file>
                </misc_productcustomers>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <misc_productcustomers>
                    <file>misc_productcustomers.xml</file>
                </misc_productcustomers>
            </updates>
        </layout>        
    </adminhtml>
</config>
